<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b772031a0c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Services | Mission Fitness & Food Supplements</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo" class="img-fluid" src="/images/logo.png" alt="">
                <img id="mlogo" class="img-fluid" src="/images/logo1.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>

            </div>
            <form class="d-flex" method="POST" action="/search">
                <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>




    <div class="baner-image">
        <img class="img-fluid" src="/images/services.jpg" alt="">
    </div>




    <div class="container my-5">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-center">Our Services</h1>
            </div>

        </div>
    </div>


<div class="container-fluid dmt-services">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>
                    DYNAMIC MOVEMENT TRAINING (DMT)
                </h2>
            </div>
            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-1.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-2.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-3.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-4.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-5.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-6.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-7.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>

            <div class="col-sm-3">
                <img class="img-fluid" src="/images/dmt-8.jpg" alt="">
                <p>
                    Dynamic Movement Training uses the body’s natural movement patterns through three-dimensional exercises.
                </p>
            </div>


        </div>
    </div>
</div>



<div class="container-fluid free-styles free-styles-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h3>
                    FREESTYLE™ GROUP TRAINING
                </h3>
                <p>
                    Find motivation from training with others for an efficient and progressive workout. Offering interactive and energetic sessions, Freestyle™ Group Training incorporates the latest equipment and trained fitness staff. These classes are a great way to work the whole body and improve overall fitness.
                </p>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="/images/free-style.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid free-styles group-exe">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm img-order">
                <img class="img-fluid" src="/images/group-exercise.png" alt="">
            </div>
            <div class="col-sm">
                <h3>
                    GROUP EXERCISE CLASSES
                </h3>
                <p>
                    Our range of classes will inspire you to explore new training styles and techniques, while keeping you motivated with other like-minded members. We have a wide choice of classes that are a great complement to any training programme. See our class timetable for details.
                </p>
            </div>
           
        </div>
    </div>
</div>

<div class="container-fluid free-styles free-styles-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h3>
                    CARDIO TRAINING
                </h3>
                <p>
                    Whether you want increased energy or reduced stress, cardio training (otherwise known as cardiovascular or CV training) helps you live a fitter life while strengthening your heart and lungs. From interval workouts to endurance exercises, cardio training can also help to lower blood pressure and cholesterol levels.
                </p>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="/images/cardio-training.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid free-styles group-exe">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm img-order">
                <img class="img-fluid" src="/images/strength-training.jpg" alt="">
            </div>
            <div class="col-sm">
                <h3>
                    STRENGTH TRAINING
                </h3>
                <p>
                    Shape your body and burn fat with strength training. With the right equipment such as free weights or resistance machines and advice from our experts, you can improve your overall health while increasing muscle and bone strength.
                </p>
            </div>
           
        </div>
    </div>
</div>

<div class="container-fluid free-styles free-styles-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h3>
                    ONE-TO-ONE TRAINING
                </h3>
                <p>
                    Tailored specifically around your individual fitness, one-to-one personal training ensures you get the most out of every workout. Our expert personal trainers can offer support, advice and motivation to keep you on the right track.
                </p>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="/images/one-to-one.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid support-service-fitness">
    <div class="container">
        <div class="row text-center service-fitness">
            <div class="col-sm-6 col-support">
                <i class="fas fa-medal"></i>
                <h3>
                    Support
                </h3>
                <p>
                    Every member gets a free, personalized Get Started Plan when they join. Our friendly, professional
                    staff is trained to help you along your fitness journey, no matter how much support you need.
                </p>
            </div>
            <div class="col-sm-6 col-support">
                <i class="fas fa-dumbbell"></i>
                <h3>
                    Tools & Training
                </h3>
                <p>
                    Together – we can make healthy happen. That’s why we offer personal training and classes when you’re
                    here, and the right tools to keep you on track when you’re not.
                </p>
            </div>
            <div class="col-sm-6 col-support">
                <i class="fas fa-clock"></i>
                <h3>
                    Convenience
                </h3>
                <p>
                    With 24/7 access to more than 4,700 locations worldwide, you’re joining the most convenient gym on
                    the planet.
                </p>
            </div>
            <div class="col-sm-6 col-support">
                <i class="fas fa-heart"></i>
                <h3>
                    Community
                </h3>
                <p>
                    You’re not just joining a gym. You’re joining a supportive community of like-minded people who are
                    here to give you the encouragement you need.
                </p>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h2>
                    Member Benefits May Include
                </h2>
            </div>
        </div>
    </div>


    
        <div class="container-fluid member-benefit">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>
                            Equipment
                        </h3>
                        <ul>
                            <li>treadmills</li>
                            <li>ellipticals</li>
                            <li>exercise cycles</li>
                            <li>stair climbers</li>
                            <li>rowing machines</li>
                            <li>free weights</li>
                            <li>racks</li>
                            <li>synergy 360 systems</li>
                            <li>cable crossovers</li>
                            <li>kettlebells</li>
                            <li>lateral x trainers</li>
                            <li>amt crosstrainers</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>
                            Lifestyle
                        </h3>
                        <ul>
                            <li>personal training</li>
                            <li>team workouts</li>
                            <li>tanning</li>
                            <li>adaptive motion trainers</li>
                            <li>spinning cycles & classes</li>
                            <li>zumba classes</li>
                            <li>cardio classes</li>
                            <li>body conditioning classes</li>
                            <li>yoga classes</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>
                            Services
                        </h3>
                        <ul>
                            <li>24-hour access</li>
                            <li>24-hour security</li>
                            <li>convenient parking</li>
                            <li>anywhere gym access</li>
                            <li>private restrooms</li>
                            <li>private showers</li>
                            <li>health plan discounts</li>
                            <li>wellness programs</li>
                            <li>cardio tvs</li>
                            <li>hdtvs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    


        <div class="footer">
            <div class="container rowfooter ">
              <div class="row">
                <div class="col-sm">
                  <a href="/">
                  <img class="img-fluid" src="images/logo1.png" alt="">
                </a>
                  <p class="address">
                    <i class="fas fa-map-marker-alt"></i>
                    Address: C-100, Rajdhani Park, <br> Nangloi, New Delhi, 110041
                  </p>
                  <p>
                    <i class="fas fa-phone"></i>
                    Phone: <a href="">9582522758</a>
                  </p>
                  <p>
                    <i class="fas fa-envelope"></i>
                    Email: <a href="">akashjaiswal126@gmail.com</a>
                  </p>
                </div>
                <div class="col-sm ">
                  <h3>
                    Download Our App
                  </h3>
                  <p>
                    Download App for Android and ios mobile phone
                  </p>
                  <img class="img-fluid applogo" src="images/play-store.png" alt="">
                  <img class="img-fluid applogo" src="images/app-store.png" alt="">
                  <p class="appsoon">
                    App Coming Soon
                  </p>
                </div>
                <div class="col-sm" id="menu">
                  <h3>
                    Menu
                  </h3>
                  <p>
                    <a href="/">Home</a> <br>
                    <a href="/about">About Us</a> <br>
                    <a href="/services">Services</a> <br>
                    <a href="products">Products</a> <br>
                    <a href="/contact">Contact</a> <br>
                    <a href="/cart">Cart</a> <br>
                  </p>
        
                </div>
                <div class="col-sm">
                  <h3>
                    Opening hrs
                  </h3>
                  <p>Monday - Saturday: 05.00am to 09.00pm
                    <br>
                    Sunday: Closed
                  </p>
                  <h3>
                    Social Media
                  </h3>
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fab fa-instagram-square"></i>
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
              <div class="col-sm copyright">
                <p>
                  Copyright @2021 -Akash Jaiswal
                </p>
              </div>
            </div>
          </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

    <script>
        $(".navbar").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
        $(".footer").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>